@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli:700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

footer {
  color: white;
  font-size: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social p {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

body {
  padding: 5% 10%;
  background: #131416;
}

body .feed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 350px;
  grid-gap: 16px;
  margin: 40px 0 40px 0;
}

body .feed .card_category {
  color: #ecf0f1;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

body .feed .card_title {
  font-size: 24px;
  font-family: 'Libre Baskerville', serif;
  color: #ecf0f1;
  line-height: 32px;
  margin: 10px 0 0 0;
}

body .feed .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.6rem;
}

body .feed .card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

body .feed .card:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/thecodegod.jpg");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/thecodegod.jpg");
}

body .feed .card:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/teri@2x.png");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/teri@2x.png");
}

body .feed .card:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/oteri.jpg");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/oteri.jpg");
}

body .feed .card:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/image-1.jpg");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/image-1.jpg");
}

body .feed .card:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/image-2.jpg");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/image-2.jpg");
}

body .feed .card:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/image-3.jpg");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/image-3.jpg");
}

body .feed .card:nth-child(7) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/image-4.jpg");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/image-4.jpg");
}

body .feed .card:nth-child(8) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), color-stop(50%, rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.7))), url("../img/image-5.jpg");
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.7) 100%), url("../img/image-5.jpg");
}

body .card:nth-child(1),
body :nth-child(5),
body :nth-child(7) {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
}

body .card:nth-child(2),
body :nth-child(3),
body :nth-child(4),
body :nth-child(6),
body :nth-child(8) {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media screen and (max-width: 1200px) {
  body .card:nth-child(n) {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
  }
}

@media screen and (max-width: 800px) {
  body .card:nth-child(n) {
    -ms-grid-column: span 12;
        grid-column-start: span 12;
  }
}

@media screen and (max-width: 600px) {
  body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .social p {
    margin: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */